<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PFE.org</title>
    <link rel="stylesheet" href="/stylesheets/style_dashboard.css">
  </head>
  <body>
    <header>
      <nav>
        <div class="row">
          <i class="ion-ios-rose-outline logo"></i>
          <ul>
            <li><a href="#" class="btn btn-full">HOME</a></li>
            <li><a href="#">DOWNLOAD</a></li>
            <li><a href="#">CONTACT US</a></li>
            <li><a href="#">ABOUT</a></li>
          </ul>
        </div>
      </nav>

      <div class="hero-text-box">
        <h1>CATCH ME IF YOU CAN</h1>
          <p>use our tracker application for <strong>WEB</strong> , <strong>DESKTOP</strong> and <strong>MOBILES</strong> </p>
        <br>
        <br><br>
        <a href="#" class="btn btn-ghost">PFE ANDROID</a>
        <a href="#" class="btn btn-ghost">PFE DESKTOP</a>
        <a href="/log/goto_log" class="btn btn-ghost">PFE WEB</a>
      </div>
  </header>
  </body>
</html>
