<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="application de geolicalisation en temps reel">
    <meta name="author" content="BENHATCHI Mokhtar && BAHRI Aimene">
    <title>DashBoard</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style_dashboard.css" rel="stylesheet">

</head>
<body>
<div class="row">
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item">
                    <img src="http://placehold.it/1200x400/03a06c/ffffff&amp;text=About Us">
                    <div class="carousel-caption">
                        <h3>
                            Headline
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem
                            ipsum dolor sit amet, consetetur sadipscing elitr.
                        </p>
                    </div>
                </div>
                <!-- End Item -->
                <div class="item">
                    <img src="http://placehold.it/1200x400/0ce6b2/ffffff&amp;text=Projects">
                    <div class="carousel-caption">
                        <h3>
                            Headline</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem
                            ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                    </div>
                </div>
                <!-- End Item -->
                <div class="item">
                    <img src="http://placehold.it/1200x400/0b4fb9/ffffff&amp;text=Portfolio">
                    <div class="carousel-caption">
                        <h3>
                            Headline</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem
                            ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                    </div>
                </div>
                <!-- End Item -->
                <div class="item active">
                    <img src="http://placehold.it/1200x400/1107ad/ffffff&amp;text=Services">
                    <div class="carousel-caption">
                        <h3>
                            Headline</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem
                            ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                    </div>
                </div>
                <!-- End Item -->
            </div>
            <!-- End Carousel Inner -->
            <ul class="nav nav-pills nav-justified">
                <li data-target="#myCarousel" data-slide-to="0" class=""><a href="#">About<small>Lorem
                    ipsum dolor sit</small></a></li>
                <li data-target="#myCarousel" data-slide-to="1" class=""><a href="#">Projects<small>Lorem ipsum
                    dolor sit</small></a></li>
                <li data-target="#myCarousel" data-slide-to="2" class=""><a href="#">Portfolio<small>Lorem ipsum
                    dolor sit</small></a></li>
                <li data-target="#myCarousel" data-slide-to="3" class="active"><a href="#">Services<small>Lorem ipsum
                    dolor sit</small></a></li>
            </ul>
        </div>
        <!-- End Carousel -->
    </div>
</div>


<div class="container">
    <div class="jumbotron">
        <h1>TAKE THE ADVENTURE!</h1>
        <p>We have currently apps for OSX, WINDOWS, Linux and Android</p>
    </div>
</div>

<div class="page-header">
    <h1>How Its Works</h1>
</div>

<div class="container">
    <div class="row pricing">
        <div class="col-md-4">
            <div class="well">
                <h3><b>PFE Web</b></h3>
                <hr>
                <p><b>Create your account. It’s free.</b></p>
                <hr>
                <p><b>Join the millions of Users using our PFE.</b></p>
                <hr>
                <hr>
                <p><b>Tell us how you want to know about our community.</b></p>
                <hr>
                <p><b>One Click Apply all our <strong>services</strong> anytime. Anywhere.</b></p>
                <hr>
                <a href="/log/goto_log" class="btn btn-primary btn-block">JoinNow!</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <h3><b>PFE Desktop</b></h3>
                <hr>
                <p><b>Download our desktop Version. It's easy.</b></p>
                <hr>
                <p><b>Get the free account automatically.</b></p>
                <hr>
                <p><b>Tell us the featured you’re looking for.</b></p>
                <hr>
                <p><b>Linux and Windows Versions.</b></p>
                <hr>
                <p><b>It's free and always will be.</b></p>
                <hr>
                <a href="#" class="btn btn-primary btn-block">JoinNow !</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <h3><b>PFE Android</b></h3>
                <hr>
                <p><b>Download our android App. It's easy.</b></p>
                <hr>
                <p><b>Get the free account automatically.</b></p>
                <hr>
                <p><b>Tell us the featured you’re looking for.</b></p>
                <hr>
                <p><b>Responsive Native Application.</b></p>
                <hr>
                <p><b>It's free and always will be.</b></p>
                <hr>
                <a href="#" class="btn btn-primary btn-block">JoinNow!</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="/javascripts/client_log.js"></script>


</body></html>
