
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style_home.css">
  </head>
  <body>
    <header>
    <div class="row">
      <nav >
        <ul>
          <li ><a  href="#">DOWNLOAD</a></li>
          <li ><a href="#">ABOUT</a></li>

        </ul>
       </nav>


      <div class="hero">
      <h1>CATCH ME IF YOU CAN</h1>
        <p>use our tracker application for <strong>DESKTOP</strong> and <strong>MOBILES</strong> </p>
        <br>
        <a class="btn_a important" href="/log/goto_log" >LOG IN</a>
        <a class="btn_a nimportant" href="#">SIGN UP</a>
      </div>

      </div>
    </header>

  </body>

  <!--defindes scripts-->

  <% include ./commun/scripts.ejs %>
  <script type="text/javascript">

  </script>

</html>
