<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a class="btn_a important" href="/log/goto_log" >LOG IN</a>
    <a class="btn_a nimportant" href="#">SIGN UP</a>

  </body>
</html>
